body {
 display: grid;
 grid-template-columns: 1fr 2fr 1fr;
 grid-template-areas: "nav die blank";
 justify-content: center;
 align-items: center; 
 font-family: 'Bree Serif', serif;
 font-size: 25px;
 height: 100vh;
}

#nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

#list {
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
}

.blank {
    grid-area: blank;
}

#die {
    grid-area: die;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

#die>img {
    margin-top: 5%;
    position: relative;
    height: 55%;
}

#result {
    position: absolute;
    top: 32%; /*
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    font-size: 300%;
    grid-area: "die"
}

button { 
    background-color: black;
    color: white;
    border: none;
    padding: 15px;
}

button:hover {
    transition: .15s font-size ease;
    font-size: 115%;
}

#contact {
    color: black;
}

a:hover {
    transition: .15s font-size ease;
    font-size: 125%;
}

